@import url("https://fonts.googleapis.com/css2?family=Darumadrop+One&family=Roboto:wght@100;300;400;500;700;900&display=swap");

* {
  box-sizing: border-box;
}
body {
  margin: 0px;
  font-family: "Roboto", sans-serif;
}
/* --- MAIN LAYOUT ---- */
.page-container {
  height: 100vh;

  background-color: bisque;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
}

.sidebar-container {
  background-color: lightblue;
  grid-row: 1/-1;
}
.header-container {
  grid-column: 2/-1;
  background-color: white;
}
.main-container {
  background-color: rgb(219, 219, 219);
  grid-column: 2/-1;
  grid-row: 2/-1;
}

/* --------------- SIDEBAR -------------- */

.sidebar-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.25fr 6fr 3fr 10fr;

  gap: 5%;

  padding-left: 5%;
}

/* -- branding -- */
.branding {
  display: grid;
  grid-template-columns: 0.25fr 1fr;
}
.image-container {
  display: grid;
}
.image-container > img {
  margin: 0px;
  width: 4em;
  justify-self: center;
  align-self: center;
}

/* -- navigation 1 -- */
.navigation-1 {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(6, 1fr);
  gap: 5px;
}
.navigation-2 {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 1fr);
  gap: 5px;
}
.navigation-option {
  display: grid;
  grid-template-columns: 0.25fr 1fr;
  grid-template-rows: 1fr;
}
.option {
  text-align: center;
  display: flex;
  align-items: center;
  padding-left: px;
}
h2 {
  margin: 0px;
  font-size: 1.3em;
}

.icon-container {
  width: 1.5em;
  align-self: center;
  justify-self: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* --------------- HEADER ------------- */

.header-container {
  display: grid;
  grid-template-columns: 3fr 2fr;
  grid-template-rows: 0.8fr 1.2fr;
}

/* --------------- MAIN SECTION -------------*/

.main-container {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.main-container > div {
  border: 1px solid;
}

.projects-container {
  grid-row: 1/-1;
  background-color: aliceblue;
}
